# entorno virtual
venv/

# modelos (pesan GB)
models/

# cache de Python
__pycache__/
*.pyc

# backups intermedios del experimento
results/measurements/backup_*.csv

# Mac
.DS_Store
results/measurements/respaldo/
.vscode/settings.json
